In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [2]:
# Load models, columns and bins for scoring

## freq
with open('../obj/freq_model.pkl', 'rb') as handle:
    freq_model = pickle.load(handle)
    
## vol
with open('../obj/vol_model.pkl', 'rb') as handle:
    vol_model = pickle.load(handle)    
    
## sev
with open('../obj/columns.pkl', 'rb') as handle:
    columns = pickle.load(handle)  
    
## sev
with open('../obj/bins.pkl', 'rb') as handle:
    bins = pickle.load(handle)

In [3]:
# Read dataset
data = pd.read_csv('../data/data_sample_for_prediction.csv')
display(data)

    CustomerID  period
0        15565  201112
1        14696  201112
2        16115  201112
3        14450  201112
4        14537  201112
5        15623  201112
6        17309  201112
7        14050  201112
8        15463  201112
9        13186  201112
10       18116  201112
11       13544  201112
12       15806  201112
13       17059  201112
14       18216  201112
15       15975  201112
16       13587  201112
17       13873  201112
18       17458  201112
19       18281  201112
20       12723  201112
21       14752  201112
22       16708  201112
23       17706  201112
24       18045  201112
25       16110  201112
26       17160  201112
27       14246  201112
28       18122  201112
29       17695  201112
30       14785  201112
31       14852  201112
32       15306  201112
33       12679  201112
34       13583  201112
35       14231  201112
36       16728  201112
37       15712  201112
38       13929  201112
39       13962  201112
40       18136  201112
41       13103  201112
42       17824  201112
43       17787  201112
44       13575  201112
45       13336  201112
46       13055  201112
47       15795  201112
48       17047  201112
49       16419  201112

In [4]:
data.shape

(50, 2)

# Feature Engineering

Apply the same logic in the modelling notebook

In [5]:
# First Enrich the data
lookup_table = pd.read_csv('../data/sales_by_customer_and_period.csv')
data = data.merge(lookup_table, how = 'left', on = ['CustomerID','period'])
data.head()

,CustomerID,period,TotalPrice,sales_1,sales_2,sales_3,sales_4,sales_5,sales_6,n_sales_last_6_m
0,15565,201112,NaN,NaN,84.36,88.80,NaN,NaN,NaN,1
1,14696,201112,300.54,NaN,NaN,319.87,287.15,NaN,292.06,1
2,16115,201112,NaN,149.01,225.94,361.34,273.02,NaN,147.76,1
3,14450,201112,NaN,NaN,NaN,NaN,NaN,NaN,213.80,1
4,14537,201112,NaN,NaN,355.56,NaN,NaN,NaN,NaN,1

In [6]:
data.shape

(50, 10)

In [7]:
# Get information about last sale amount
data['sales_mean_6_m'] = data[[f'sales_{i}' for i in range(1,7)]].mean(axis=1)

data['last_sale'] = data[[f'sales_{i}' for i in range(1,7)]].fillna(method='bfill', axis=1).iloc[:, 0]
data['last_sale_over_6m_mean'] = (data['last_sale'] / data['sales_mean_6_m']).fillna(0)
data.loc[data['sales_mean_6_m']==0,'last_sale_over_6m_mean']=0

data['last_sale_over_total'] = data['last_sale'] / data[[f'sales_{i}' for i in range(1,7)]].sum(axis=1)
data.loc[data[[f'sales_{i}' for i in range(1,7)]].sum(axis=1)==0,'last_sale_over_total']=0

# Get information about last sale date
data['sales_cadence'] = data[[f'sales_{i}' for i in range(1,7)]].fillna(method='bfill', axis=1).count(axis=1)/data[[f'sales_{i}' for i in range(1,7)]].count(axis=1)
data['months_from_last_sale'] = data[[f'sales_{i}' for i in range(1,7)]].fillna(method='ffill', axis=1).isnull().sum(axis=1)
data['sales_cadence_deviation'] = data['months_from_last_sale'] - data['sales_cadence']
display(data.sample(10))

,CustomerID,period,TotalPrice,sales_1,sales_2,sales_3,sales_4,sales_5,sales_6,n_sales_last_6_m,sales_mean_6_m,last_sale,last_sale_over_6m_mean,last_sale_over_total,sales_cadence,months_from_last_sale,sales_cadence_deviation
40,18136,201112,NaN,NaN,183.48,NaN,NaN,NaN,NaN,1,183.480,183.48,1.000000,1.000000,2.000000,1,-1.000000
48,17047,201112,NaN,NaN,NaN,351.47,NaN,NaN,NaN,1,351.470,351.47,1.000000,1.000000,3.000000,2,-1.000000
16,13587,201112,NaN,-66.00,413.00,NaN,NaN,NaN,NaN,1,173.500,-66.00,-0.380403,-0.190202,1.000000,0,-1.000000
36,16728,201112,NaN,NaN,504.67,NaN,NaN,NaN,223.07,1,363.870,504.67,1.386951,0.693476,3.000000,1,-2.000000
9,13186,201112,NaN,NaN,273.95,313.60,952.14,NaN,NaN,1,513.230,273.95,0.533776,0.177925,1.333333,1,-0.333333
20,12723,201112,77.28,348.38,299.41,NaN,NaN,NaN,NaN,1,323.895,348.38,1.075595,0.537798,1.000000,0,-1.000000
12,15806,201112,NaN,NaN,262.70,NaN,NaN,221.52,NaN,1,242.110,262.70,1.085044,0.542522,2.500000,1,-1.500000
6,17309,201112,NaN,NaN,NaN,82.75,NaN,NaN,NaN,1,82.750,82.75,1.000000,1.000000,3.000000,2,-1.000000
30,14785,201112,NaN,77.40,NaN,NaN,NaN,NaN,NaN,1,77.400,77.40,1.000000,1.000000,1.000000,0,-1.000000
34,13583,201112,NaN,NaN,NaN,NaN,NaN,781.03,NaN,1,781.030,781.03,1.000000,1.000000,5.000000,4,-1.000000

# Predict

In [8]:
## Get results from models
data['freq'] = freq_model.predict_proba(data[columns])[:,1]
data['vol'] = vol_model.predict(data[columns])
data['expected_sales'] = data['freq']*data['vol']
data['score'] = pd.cut(data['expected_sales'],
                          bins = bins,
                          labels = [str(i) for i in range(1,6)] )
display(data)

,CustomerID,period,TotalPrice,sales_1,sales_2,sales_3,sales_4,sales_5,sales_6,n_sales_last_6_m,...,last_sale,last_sale_over_6m_mean,last_sale_over_total,sales_cadence,months_from_last_sale,sales_cadence_deviation,freq,vol,expected_sales,score
0,15565,201112,NaN,NaN,84.36,88.80,NaN,NaN,NaN,1,...,84.36,0.974359,0.487179,1.500000,1,-0.500000,0.435754,433.296278,188.810668,3
1,14696,201112,300.54,NaN,NaN,319.87,287.15,NaN,292.06,1,...,319.87,1.067324,0.355775,2.000000,2,0.000000,0.606349,433.296278,262.728854,4
2,16115,201112,NaN,149.01,225.94,361.34,273.02,NaN,147.76,1,...,149.01,0.643911,0.128782,1.200000,0,-1.200000,0.759036,433.296278,328.887536,4
3,14450,201112,NaN,NaN,NaN,NaN,NaN,NaN,213.80,1,...,213.80,1.000000,1.000000,6.000000,5,-1.000000,0.272953,433.296278,118.269455,1
4,14537,201112,NaN,NaN,355.56,NaN,NaN,NaN,NaN,1,...,355.56,1.000000,1.000000,2.000000,1,-1.000000,0.331023,433.296278,143.430830,2
5,15623,201112,NaN,NaN,NaN,NaN,NaN,301.03,NaN,1,...,301.03,1.000000,1.000000,5.000000,4,-1.000000,0.331023,433.296278,143.430830,2
6,17309,201112,NaN,NaN,NaN,82.75,NaN,NaN,NaN,1,...,82.75,1.000000,1.000000,3.000000,2,-1.000000,0.188450,433.296278,81.654618,1
7,14050,201112,NaN,260.38,NaN,NaN,485.98,NaN,NaN,1,...,260.38,0.697733,0.348866,2.000000,0,-2.000000,0.606349,433.296278,262.728854,4
8,15463,201112,NaN,126.14,NaN,NaN,NaN,NaN,NaN,1,...,126.14,1.000000,1.000000,1.000000,0,-1.000000,0.372760,433.296278,161.515458,2
9,13186,201112,NaN,NaN,273.95,313.60,952.14,NaN,NaN,1,...,273.95,0.533776,0.177925,1.333333,1,-0.333333,0.668919,433.296278,289.840078,4
10,18116,201112,NaN,NaN,163.56,NaN,NaN,NaN,NaN,1,...,163.56,1.000000,1.000000,2.000000,1,-1.000000,0.249651,433.296278,108.172990,1
11,13544,201112,NaN,NaN,168.50,NaN,NaN,NaN,NaN,1,...,168.50,1.000000,1.000000,2.000000,1,-1.000000,0.249651,433.296278,108.172990,1
12,15806,201112,NaN,NaN,262.70,NaN,NaN,221.52,NaN,1,...,262.70,1.085044,0.542522,2.500000,1,-1.500000,0.514412,433.296278,222.892985,3
13,17059,201112,NaN,844.94,NaN,NaN,739.43,NaN,NaN,1,...,844.94,1.066594,0.533297,2.000000,0,-2.000000,0.400000,569.190425,227.676170,4
14,18216,201112,NaN,481.75,NaN,NaN,NaN,NaN,NaN,1,...,481.75,1.000000,1.000000,1.000000,0,-1.000000,0.456243,433.296278,197.688267,3
15,15975,201112,NaN,NaN,NaN,371.01,NaN,NaN,NaN,1,...,371.01,1.000000,1.000000,3.000000,2,-1.000000,0.331023,433.296278,143.430830,2
16,13587,201112,NaN,-66.00,413.00,NaN,NaN,NaN,NaN,1,...,-66.00,-0.380403,-0.190202,1.000000,0,-1.000000,0.424242,433.296278,183.822663,3
17,13873,201112,NaN,NaN,NaN,NaN,159.20,NaN,NaN,1,...,159.20,1.000000,1.000000,4.000000,3,-1.000000,0.249651,433.296278,108.172990,1
18,17458,201112,NaN,316.50,NaN,NaN,NaN,NaN,NaN,1,...,316.50,1.000000,1.000000,1.000000,0,-1.000000,0.456243,433.296278,197.688267,3
19,18281,201112,NaN,NaN,NaN,NaN,NaN,NaN,80.82,1,...,80.82,1.000000,1.000000,6.000000,5,-1.000000,0.188450,433.296278,81.654618,1
20,12723,201112,77.28,348.38,299.41,NaN,NaN,NaN,NaN,1,...,348.38,1.075595,0.537798,1.000000,0,-1.000000,0.923077,433.296278,399.965795,5
21,14752,201112,NaN,NaN,389.64,NaN,NaN,NaN,NaN,1,...,389.64,1.000000,1.000000,2.000000,1,-1.000000,0.331023,433.296278,143.430830,2
22,16708,201112,NaN,NaN,656.63,NaN,NaN,NaN,NaN,1,...,656.63,1.000000,1.000000,2.000000,1,-1.000000,0.413333,433.296278,179.095795,2
23,17706,201112,775.84,NaN,1650.35,NaN,1182.53,2635.21,2964.59,1,...,1650.35,0.782835,0.195709,1.500000,1,-0.500000,0.818713,2995.081041,2452.113133,5
24,18045,201112,NaN,NaN,189.40,NaN,NaN,NaN,NaN,1,...,189.40,1.000000,1.000000,2.000000,1,-1.000000,0.249651,433.296278,108.172990,1
25,16110,201112,NaN,NaN,643.55,NaN,NaN,NaN,NaN,1,...,643.55,1.000000,1.000000,2.000000,1,-1.000000,0.413333,433.296278,179.095795,2
26,17160,201112,NaN,516.85,NaN,NaN,758.05,1038.06,NaN,1,...,516.85,0.670375,0.223458,1.666667,0,-1.666667,0.481707,569.190425,274.183192,4
27,14246,201112,NaN,NaN,NaN,NaN,504.19,520.23,NaN,1,...,504.19,0.984342,0.492171,2.500000,3,0.500000,0.514412,433.296278,222.892985,3
28,18122,201112,441.76,620.44,442.88,201.94,NaN,119.19,NaN,1,...,620.44,1.792596,0.448149,1.250000,0,-1.250000,0.829925,433.296278,359.603262,5
29,17695,201112,NaN,NaN,NaN,NaN,NaN,411.74,353.60,1,...,411.74,1.075966,0.537983,3.000000,4,1.000000,0.514412,433.296278,222.892985,3
30,14785,201112,NaN,77.40,NaN,NaN,NaN,NaN,NaN,1,...,77.40,1.000000,1.000000,1.000000,0,-1.000000,0.372760,433.296278,161.515458,2
31,14852,201112,NaN,NaN,648.27,554.21,NaN,425.96,717.85,1,...,648.27,1.105183,0.276296,1.500000,1,-0.500000,0.818713,433.296278,354.745490,5
32,15306,201112,NaN,NaN,517.28,312.45,NaN,344.62,NaN,1,...,517.28,1.321446,0.440482,1.666667,1,-0.666667,0.710280,433.296278,307.761842,4
33,12679,201112,NaN,NaN,95.22,94.32,NaN,NaN,NaN,1,...,95.22,1.004748,0.502374,1.500000,1,-0.500000,0.435754,433.296278,188.810668,3
34,13583,201112,NaN,NaN,NaN,NaN,NaN,781.03,NaN,1,...,781.03,1.000000,1.000000,5.000000,4,-1.000000,0.413333,569.190425,235.265375,4
35,14231,201112,NaN,NaN,NaN,NaN,NaN,NaN,227.86,1,...,227.86,1.000000,1.000000,6.000000,5,-1.000000,0.272953,433.296278,118.269455,1
36,16728,201112,NaN,NaN,504.67,NaN,NaN,NaN,223.07,1,...,504.67,1.386951,0.693476,3.000000,1,-2.000000,0.514412,433.296278,222.892985,3
37,15712,201112,NaN,206.45,NaN,99.60,307.66,NaN,158.85,1,...,206.45,1.068914,0.267228,1.500000,0,-1.500000,0.618321,433.296278,267.916019,4
38,13929,201112,NaN,NaN,NaN,NaN,NaN,NaN,429.80,1,...,429.80,1.000000,1.000000,6.000000,5,-1.000000,0.331023,433.296278,143.430830,2
39,13962,201112,NaN,51.95,NaN,NaN,NaN,NaN,NaN,1,...,51.95,1.000000,1.000000,1.000000,0,-1.000000,0.372760,433.296278,161.515458,2
40,18136,201112,NaN,NaN,183.48,NaN,NaN,NaN,NaN,1,...,183.48,1.000000,1.000000,2.000000,1,-1.000000,0.249651,433.296278,108.172990,1
41,13103,201112,NaN,NaN,243.94,NaN,NaN,NaN,NaN,1,...,243.94,1.000000,1.000000,2.000000,1,-1.000000,0.272953,433.296278,118.269455,1
42,17824,201112,NaN,NaN,298.40,NaN,NaN,NaN,NaN,1,...,298.40,1.000000,1.000000,2.000000,1,-1.000000,0.229885,433.296278,99.608340,1
43,17787,201112,NaN,NaN,NaN,NaN,NaN,149.02,NaN,1,...,149.02,1.000000,1.000000,5.000000,4,-1.000000,0.249651,433.296278,108.172990,1
44,13575,201112,NaN,107.45,147.41,258.46,NaN,130.20,88.55,1,...,107.45,0.733878,0.146776,1.200000,0,-1.200000,0.759036,433.296278,328.887536,4
45,13336,201112,NaN,NaN,NaN,795.12,NaN,NaN,NaN,1,...,795.12,1.000000,1.000000,3.000000,2,-1.000000,0.413333,569.190425,235.265375,4
46,13055,201112,NaN,NaN,-12.45,869.55,NaN,NaN,NaN,1,...,-12.45,-0.029051,-0.014526,1.500000,1,-0.500000,0.525907,433.296278,227.873431,4
47,15795,201112,NaN,NaN,NaN,NaN,NaN,610.01,NaN,1,...,610.01,1.000000,1.000000,5.000000,4,-1.000000,0.888889,433.296278,385.152247,5
48,17047,201112,NaN,NaN,NaN,351.47,NaN,NaN,NaN,1,...,351.47,1.000000,1.000000,3.000000,2,-1.000000,0.331023,433.296278,143.430830,2
49,16419,201112,NaN,NaN,NaN,NaN,221.54,NaN,233.76,1,...,221.54,0.973161,0.486580,3.000000,3,0.000000,0.514412,433.296278,222.892985,3

In [9]:
## Save results
data[['CustomerID','period','freq','vol','expected_sales', 'score']].to_csv('../data/data_sample_for_prediction_OUTPUT.csv', index=False)